{% extends 'base.html.twig' %}

{% block title %}New Todos{% endblock %}

{% block body %}
    <h1>Add New Todo</h1>

    {{ include('todos/_form.html.twig') }}

    <a href="{{ path('app_todos_index') }}" class="btn btn-success">Show your Todos</a>
{% endblock %}
